<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <mat-card appearance="outlined" style="height: 100px" class="bg-light">
        <mat-card-header>
          <mat-card-title > Total Users</mat-card-title>
          <span style="width:50%;" class="mt-1 text-end" ><b>{{userCounts.totalUsers}}</b></span>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card appearance="outlined" style="height: 100px" class="bg-light">
        <mat-card-header>
          <mat-card-title> Total Students</mat-card-title>
          <span style="width:50%;" class="mt-1 text-end"><b>{{userCounts.totalStudents}}</b></span>
        </mat-card-header>
        
      </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card appearance="outlined" style="height: 100px" class="bg-light">
        <mat-card-header>
          <mat-card-title>Total Teacher</mat-card-title>
          <span style="width:50%;" class="mt-1 text-end"><b>{{userCounts.totalTeachers}}</b></span>
        </mat-card-header>
        
      </mat-card>
    </div>
  </div>
</div>
