/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
    /* background-color: #4caf50; Green color */
    color: white; /* Text color */
    --mdc-snackbar-container-color: rgb(27, 169, 27) !important;
    
}

.error {
    /* background-color: #4caf50; Green color */
    color: white; /* Text color */
    --mdc-snackbar-container-color: red !important;
    
}